# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable v-s-hooks': 'v-s-hooks:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'v-s-hooks'
      'submenu': [
        { 'label': 'Toggle', 'command': 'v-s-hooks:toggle' }
      ]
    ]
  }
]
